{% extends 'base.html.twig' %}

{% block title %}
	Formula 1 races in 2024
{% endblock %}

{% block body %}

	<main class="wrapper">
		<h1>F1 races in 2024</h1>
		<div class="container">
			{% for race in data.MRData.RaceTable.Races %}
				<div class="card">
					<div class="title">
						<h2>{{ race.raceName }}</h2>
						<p>Round:
							{{ race.round }}
						</p>
					</div>
					<div class="info">
						<div class="race_info">
							<p>
								Date:
								{{ race.date|date('d/m/Y') }}
							</p>
							<p>
								Time:
								{{ race.time|date('H:i') }}
							</p>
							<div class="info_link">
								<a href="{{ race.url }}">More info</a>
								<span class="material-symbols-outlined">open_in_new</span>
							</div>
						</div>
						<div class="track_info">
							<p>
								Name:
								{{ race.Circuit.circuitName }}
							</p>
							<p>Location:
								{{ race.Circuit.Location.locality }},
								{{ race.Circuit.Location.country }}</p>
							<div class="info_link">
								<a href="{{ race.Circuit.url }}">More info</a>
								<span class="material-symbols-outlined">open_in_new</span>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</main>
{% endblock %}
